<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>Get All Patient Details</h1>
        <table border="1">
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Date</th>
                <th>Time</th>
                <th>Doctor</th>
                <th>Department</th>
            </tr>
            <% for(let item of patient){ %>
                <tr>
                    <td><%= item.name %></td>
                    <td><%= item.email %></td>
                    <td><%= item.date %></td>
                    <td><%= item.time %></td>
                    <td><%= item.doctor %></td>
                    <td><%= item.department %></td>
                </tr>
            <%
            } %>
        </table>
    </center>
</body>
</html>